<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div class="userrecord_fragment" th:fragment="usercredentials">
	<div id="credentials">
		<h2>Credentials</h2>
		<div>
			<label for="id">ID:</label><input id="id" type="text" disabled="true" />
			<label for="secondaryId">Secondary ID:</label><input id="secondaryId" type="text" />
		</div>
		<div>
			<label for="uname">Username:</label><input id="uname" type="text" />
			<label for="pword">Password:</label><input id="pword" type="password" />
			<label for="enabled">Enabled</label><input id="enabled"	type="checkbox" />
		</div>
	</div>
	<div id="roles">
		<h2>Roles</h2>
		<table>
			<tr>
				<td><label for="roleAdmin">Admin</label></td>
				<td><input id="roleAdmin" type="checkbox" /></td>
			</tr>
			<tr>
				<td><label for="roleManager">Manager</label></td>
				<td><input id="roleManager" type="checkbox" /></td>
			</tr>
			<tr>
				<td><label for="roleCoWorker">Co-worker</label></td>
				<td><input id="roleCoWorker" type="checkbox" /></td>
			</tr>
			<tr>
				<td><label for="roleShiftPlanner">Shift Planner</label></td>
				<td><input id="roleShiftPlanner" type="checkbox" /></td>
			</tr>
		</table>
	</div>
	<div id="recordControls_bottom">
		<div id="recordControls_bottom_left">
			<input id="saveCredentialsDetails" type="button" value="Save" />
		</div>
		<div id="recordControls_bottom_right">
			<p>Changed: <span id="credentialsChangedTs"></span> by: <span id="credentialsChangedBy"></span></p>
		</div>
	</div>
</div>
</html>