<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div id="userrecord-credentials" class="userrecord_fragment" th:fragment="userrecord-credentials">
	<div id="userrecord-credentials-header" class="userrecord-type-header">
		<div>
			<h2>Credentials</h2>
		</div>
		<div>
			<span id="userrecord-credentials-isChanged" class="changeIndicator"></span>
		</div>
	</div>
	<div id="credentials">
		<div>
			<label for="id">ID:</label><input id="id" type="text" disabled="true" />
			<label for="secondaryId">Secondary ID:</label><input id="secondaryId" type="text" />
		</div>
		<div>
			<label for="uname">Username:</label><input id="uname" type="text" />
			<label for="pword">Password:</label><input id="pword" type="password" />
			<label for="enabled">Enabled</label><input id="enabled"	type="checkbox" />
		</div>
	</div>
	<div id="userrecord-roles">
		<input id="user-role-admin" type="checkbox" th:attr="data-role_id=1" />Admin 
		<input id="user-role-manager" type="checkbox" th:attr="data-role_id=2" />Manager
		<input id="user-role-coworker" type="checkbox" th:attr="data-role_id=3" />Co-Worker 
		<input id="user-role-shiftplanner" type="checkbox" th:attr="data-role_id=4" />Shift Planner
	</div>
	<div id="recordControls_bottom">
		<div id="recordControls_bottom_left">
			<input id="userrecord-credentials-save-button" type="button" value="Save" />
		</div>
		<div id="recordControls_bottom_right">
			<p>Changed: <span id="credentialsChangedTs"></span> by: <span id="credentialsChangedBy"></span></p>
		</div>
	</div>
</div>
</html>