<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div id="searchContent" th:fragment="usersearchByName">
	<div>
		<label for="userrecord-search-text">Search for:</label><input id="userrecord-search-text" type="text"/>
	</div>
	<div>
		<label for="userrecord-search-activeonly">Show active only</label><input id="userrecord-search-activeonly" type="checkbox" value="activeonly" checked="true"/>
	</div>
	<div>
		<label for="userrecord-search-keydate">Key date:</label><input id="userrecord-search-keydate" type="date"/>
	</div>
	<div>
		<input id="userrecord-search-do-button" type="button" value="Search" />
	</div>
</div>
</html>