<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div id="usercredentials" class="userrecord_fragment" th:fragment="usercredentials">
	<div id="credentials">
		<h2>Credentials</h2>
		<div>
			<label for="id">ID:</label><input id="id" type="text" disabled="true" />
			<label for="secondaryId">Secondary ID:</label><input id="secondaryId" type="text" />
		</div>
		<div>
			<label for="uname">Username:</label><input id="uname" type="text" />
			<label for="pword">Password:</label><input id="pword" type="password" />
			<label for="enabled">Enabled</label><input id="enabled"	type="checkbox" />
		</div>
	</div>
	<div id="userrecord-roles">
		<input id="roleAdmin" type="checkbox" th:attr="data-role_id=1" />Admin 
		<input id="roleManager" type="checkbox" th:attr="data-role_id=2" />Manager
		<input id="roleCoWorker" type="checkbox" th:attr="data-role_id=3" />Co-Worker 
		<input id="roleShiftPlanner" type="checkbox" th:attr="data-role_id=4" />Shift Planner
	</div>
	<div id="recordControls_bottom">
		<div id="recordControls_bottom_left">
			<input id="userrecord-save-credentials-button" type="button" value="Save" />
		</div>
		<div id="recordControls_bottom_right">
			<p>Changed: <span id="credentialsChangedTs"></span> by: <span id="credentialsChangedBy"></span></p>
		</div>
	</div>
</div>
</html>