<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div id="userassignment" class="userrecord_fragment" th:fragment="userassignment">
	<h2>Assignment</h2>
	<div>
		<div id="recordControls_top">
			<div id="recordControls_top_left">
				<label for="assignmentStartDate">Start:</label><input id="assignmentStartDate" type="date" /> 
				<label for="assignmentEndDate">End:</label><input id="assignmentEndDate" type="date" /> 
				<span id="assignmentDetailRecord">(1/1)</span> 
				<input id="prevAssignmentDetail" type="button" value="Prev" th:onclick="'previousAssignmentRecord()'" /> 
				<input id="nextAssignmentDetail" type="button" value="Next" th:onclick="'nextAssignmentRecord()'"/> 
				<input id="newAssignmentDetail" type="button" value="New" th:onclick="'newAssignmentRecord()'"/>
			</div>
			<div id="recordControls_top_right">
				<input id="delAssignmentDetail" type="button" value="Delete" />
			</div>
		</div>
	</div>
	<div id="userassignment_record">
		<div>
			<div>
				<label for="orgUnitId">Org. unit:</label><input id="orgUnitId" type="text"/>
				<input id="orgUnitName" type="text"/>
				<div id="jstree">
					<ul>
						<li>Root node 1
							<ul>
								<li id="child_node_1">Child node 1</li>
								<li>Child node 2</li>
							</ul>
						</li>
						<li>Root node 2</li>
					</ul>
				</div>
				<input id="selectOrgUnit" type="button" value="Change" th:onclick="'showOrgTree()'"/>
			</div>
			<div>
				<label for="costCenterId">CC ID:</label><input id="costCenterId" type="text"/>
				<label for="costCenterName">Name:</label><input id="costCenterName" type="text"/>
			</div>
		</div>
		<div id="recordControls_bottom">
			<div id="recordControls_bottom_left">
				<input id="saveAssignmentDetails" type="button" value="Save" th:onclick="'saveAssignmentRecord()'"/>
			</div>
			<div id="recordControls_bottom_right">
				<p>Changed: <span id="assignmentChangedTs"></span> by: <span id="assignmentChangedBy"></span></p>
			</div>
		</div>
	</div>
	<div id="userassignment_noRecordFound" hidden="true">
		<p>No record found!</p>
	</div>
</div>
</html>