<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div id="mrgview-details-timerecords" th:fragment="timerecords">
	<table id="mgrview-details-timerecords-table">
		<thead>
			<tr>
				<th></th>
				<th class="header-worktime-date">Date</th>
				<th class="header-worktime-day">WDay</th>
				<th class="header-worktime-time">In (actual)</th>
				<th class="header-worktime-time">Out (actual)</th>
				<th class="header-worktime-time">In</th>
				<th class="header-worktime-time">Out</th>
				<th class="header-worktime-orgunit">Org. Unit/CC</th>
				<th class="header-worktime-changed">Changed</th>
			</tr>
		</thead>
		<tbody id="mgrview-details-timerecords-tbody">
			<tr>					
				<td>2018-01-29</td>					
				<td>Mon</td>					
				<td>07:55</td>					
				<td>16:07</td>					
				<td>08:00</td>					
				<td>16:00</td>
				<td>27/3300</td>
				<td>visus: 2018-02-13 14:56</td>				
			</tr>
		</tbody>
	</table>
</div>
<div id="mgrview-details-schedules" th:fragment="schedules">
	<table id="mgrview-details-schedules-table">
		<thead>
			<tr>
				<th>Date</th>
				<th>WDay</th>
				<th>Schedule</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
</html>