<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="nz.net.ultraq.thymeleaf">
<div id="mrgview-details-timerecords" th:fragment="timerecords">
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>WDay</th>
				<th>In (actual)</th>
				<th>Out (actual)</th>
				<th>In</th>
				<th>Out</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div id="mgrview-details-schedules" th:fragment="schedules">
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>WDay</th>
				<th>Schedule</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
</html>