@charset "ISO-8859-1";

.mgrview-wrapper{
	width: inherit;
    height: inherit;
    margin-top: 2px;
    margin-left: 4px;
}

.mgrview-top{
	width: inherit;
    height: 36px;
    border: 1px solid black;
    background: lightgrey;
    display: flex;
    align-items: center;
}

.mgrview-middle-wrapper{
	margin-top: 2px;
    width: inherit;
    height: 80%;
    display: flex;
}

.mgrview-middle-element{
	border: 1px solid black;
}

#mgrview-middle-first{
	width: 280px;
    min-width: 280px;
}

#mgrview-middle-second{
	width: 280px;
    min-width: 280px;
    margin-left: 4px;
	
}

#mgrview-worker-table{
	width: inherit;
}

#mgrview-worker-table thead{
	text-align: left;
}

#mgrview-worker-table tbody tr:hover {
	background-color:#e8e87a; 
}

#mgrview-middle-third{
	width: 75%;
    margin-left: 4px;
}

#mgrview-details-wrapper{
	display: flex;
}

.mgrview-bottom{
	
}

#mgrview-details-timerecords-table thead tr {
	font-size: 12px;
    text-align: left;
    border: 1px solid black;
    background: lightblue;
}

.header-worktime-date{
	width: 90px;
    min-width: 90px;
}

.header-worktime-day{
	min-width: 40px;
    width: 40px;
}

.header-worktime-time{
	min-width: 60px;
    width: 60px;
}

.row-worktime-normal{
	
}

.row-worktime-weekend{
	background: lightgrey;
}

.row-worktime-ph{
	
}

.cell-worktime-add{
	width: 20px;
	min-width: 20px;
	background: lightblue;
}

.cell-worktime-add:hover{
	background: lightgreen;
}

.cell-worktime-date{
	width: 90px;
    min-width: 90px;
}

.cell-worktime-day{
	min-width: 40px;
    width: 40px;
}

.cell-worktime-time{
	min-width: 60px;
    width: 60px;
    text-align: center;
}

.cell-worktime-time:hover{
	background-color: yellow;
	border-color: #ff8d00;
}

.cell-worktime-rounded-time{
	min-width: 60px;
    width: 60px;
    text-align: center;
}

#mgrview-details-timerecords-table tbody tr:hover {
	background-color:#e8e87a; 
}

