@charset "ISO-8859-1";
html, body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;	
}

/*-----Login------*/

.centered-wrapper{
	position:relative;
	text-align:center;
}

.centered-wrapper:before{
	content:"";
	position:relative;
	display:inline-block;
	width:0;
	height:100%;
	vertical-align:middle;
}

.centered-content{
	display:inline-block;
	vertical-align:middle;
}

#login-box{
	width: 25%;
	heght: 22%;
	border: 2px solid yellow;
	background:blue;
	padding: 6px;
}

#username-box{
	width:100%;
	height:33%;
	float: left;
	margin-top: 6px;
}

#password-box{
	width:100%;
	height:33%;
	float: right;
	margin-bottom:6px;
}

#sign-in-button-box{
	width:100%;
	height:34%;
	margin:auto;
}

#username-label-box,#password-label-box{
	text-align: left;
	width:50%;
	float: left;
}

#username-input-box,#password-input-box{
	width:50%;
	float: right;
}

/*-----End Login-----*/
/* ---- Header ----- */

div#container.header{
	width:100%;
	height:60px;
	margin-top:2px;
	margin-left:2px;
	background: light gray;
	border: 2px solid black;
}

div#info.header{
	width:75%;
	height:100%;
	float: left;
}

div#user.header{
	width:25%;
	height:100%;
	float:left;
	display:table;
	margin: auto;
	
}

div#username.header{
	width:50%;
	height:100%;
	float:left;
	background: light grey;
}

div#logout.header{
	width:50%;
	height:100%;
	float:left;
	background: light grey;
}

div#bar.header{
	width:100%;
	height:30px;
	float:left;
	background: grey;
	border: 2px solid black;
}

/*----End Header-----*/
/*----Content-------*/
div#container.content{
	width: 100%;
	height: 100%;
}


/*----User Record----*/

.userrecord_fragment{
	width:100%;
	border: 1px solid black;	
}

div#userrecord-content{
	width:100%;
	height:inherit;
}



div#userrecord-wrapper{
	width:1100px;
	height: inherit;
	margin-top:6px;
	padding-left:10px;
	padding-right:20px;
}

div#userrecord-search-results{
	width: 300px;
	min-width:300px;
	height: inherit;
	border: 1px solid black;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    float: left;
}

tbody#userrecord-search-results-tbody tr:hover{
	background: yellow;
}

div#userrecord{
	min-width: 700px;
    height: inherit;
    float: left;
}

div#userrecord-selected{
	min-width: 96%;
	height: 40px;
	border: 1px solid black;
	padding-left: 2%;
	padding-right: 2%;
	display: none;
}

div.userrecord-selected-left{
	height: inherit;
	display: flex;
	align-items:center;
	float: left;
}

div.userrecord-selected-right{
	height: inherit;
	display: flex;
	align-items:center;
	float:right;
}

/* input#userrecord-inactivate-button{
	margin:0 auto;
    display:block;
} */

.userrecord-type-header{
	display: flex;
    align-items: center;
    height: 46px;
}

.changeIndicator{
	color : red;
	margin-left: 10px;
}

.datefield{
	width: 126px;
}

.id-field-short{
	width: 42px;
		
}

div#personal{
	width:100%;
	border: 1px solid black;	
}

div#contract{
	width:100%;
	border: 1px solid black;
}
div#credentialsAndRoles{
	width:100%;
	border: 1px solid black;
}

div#userRecordMenuBar{
	width: inherit;
    min-width: inherit;
    height: 30px;
    min-height: 30px;
    display: flex;
	align-items:center;
}

.menuBarDiv{
	position: relative;
    display: inline-block;
    float: left;
}

.menuBarButton{
	background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-left:6px;
    margin-top:2px;
}

.record-edit-button{
	margin-left : 6px;
}

div#search {
    /* position: relative;
    display: inline-block;
    float: left; */
}

div#searchContent {
    display: none;
    position: absolute;
    width: 300px;
    min-width: 300px;
    height: 160px;
    padding-top:20px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid black;
}

/*Change search button background*/
div#searchContent:hover #searchButton {
    background-color: #3e8e41;
}

/*Show search menu*/
div#search:hover div#searchContent {
	display: block;
    /* display: inline-block; */
}

/*----End User Record----*/
/*----Record Control----*/
div#recordControls_top{
	width: 100%;
	height: 36px;
	background: lightgrey;
	display: flex;
    align-items: center;
    
}

div#recordControls_top_left{
	float: left;
	padding-left: 10px;
	display: flex;
}

div#recordControls_top_right{
	float: right;
	padding-right: 10px;
	margin-left: 40px;
	display : flex;
}

.recordCounter{
	width: 40px;
	min-width: 40px;
	margin-left: 4px;
	margin-right: 4px;
}

div#recordControls_bottom{
	width: 100%;
	height: 36px;
	display: flex;
    align-items: center;
}
div#recordControls_bottom_left{
	width:50%;
	float:left;
	padding-left:10px;
}

div#recordControls_bottom_right{
	width:40%;
	float: right;
}

/*----End Record Control---*/



/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-left:6px;
    margin-top:2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#scheduler-wrapper{
	position: relative;
    width: inherit;
    min-width: inherit;
    height: inherit;
    margin-top: 10px;
    margin-left: 4px;
    display: flex;
}

#scheduler-search{
	width: 300px;
    height: inherit;
    border: 1px solid black;
}

#scheduler-content{
	margin-left: 2px;
}

#scheduler-menubar{
	display: flex;
	height: 36px;
	border: 1px solid black;
	padding-left: 10px;
	background-color: lightgrey;
	align-items: center;
}

#scheduler-org-unit-details{
	width: 260px;
}

#scheduler-plan-details{
	width: 160px;
}

.scheduler-button{
	margin-left: 6px;
}

#schedule-editor-table th,td{
	border: 1px solid black;
	border-collapse: collapse;
	
}

#schedule-editor-table tbody tr:hover{
	background-color:#e8e87a; 
	
}

#schedule-editor-thead-row-dates th{
	font-size: 10px;
	width: 80px;
	min-width: 80px;
}

#schedule-editor-thead-row-weekdays th{
	font-size: 16px;
	width: 80px;
	min-width: 80px;
}

.cell-schedule{
	font-size: 14px;
	width: 80px;
	text-align:center;
}

.cell-schedule-pastdate{
	font-size: 14px;
	width: 80px;
	text-align:center;
	background-color:lightgrey;
}

.cell-schedule-inactive{
	font-size: 14px;
	width: 80px;
	text-align:center;
	background-color:black;
}

.cell-user{
	font-size: 14px;
	width: 200px;
	min-width: 200px;
}

.cell-schedule:hover{
	background-color: yellow;
	border-color: #ff8d00;
}

.cell-schedule-pastdate:hover{
	background-color: yellow;
	border-color: #ff8d00;
}

.cell-schedule-inactive:hover{
	background-color: yellow;
	border-color: #ff8d00;
}

#schedule-edit-dialog{
	width: 300px;
	height: 200px;
	border: 1px solid black;
	display: none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}