<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div id="mgrview-wrapper" layout:fragment="content">
	<div id="mgrview-top">
	</div>
	<div id="mgrview-middle">
		<div id="mgrview-middle-orgstructure">
		</div>
		<div id="mgrview-middle-workers">
			<table id="mgrview-middle-worker-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="mgrview-middle-details">
		</div>
	</div>
	<div id="mgrview-bottom">
	</div>
</div>
</html>