<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div id="scheduler-wrapper" layout:fragment="content">
	<div id="scheduler-search">
	</div>
	<div id="scheduler-content">
		<div id="scheduler-menubar">
		</div>
		<div id="scheduler-editor">
			<table id="schedule-editor-table">
				<thead>
					<tr id="schedule-editor-thead-row-dates">
						<th rowspan="2">User</th>
						<th>2018-01-01</th>
						<th>2018-01-02</th>
						<th>2018-01-03</th>
						<th>2018-01-04</th>
						<th>2018-01-05</th>
						<th>2018-01-06</th>
						<th>2018-01-07</th>
					</tr>
					<tr id="schedule-editor-thead-row-weekdays">
						<th>Mon</th>
						<th>Tue</th>
						<th>Wed</th>
						<th>Thu</th>
						<th>Fri</th>
						<th>Sat</th>
						<th>Sun</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="cell-user">User 1</td>
						<td class="cell-schedule">9:00-17:00</td>
						<td class="cell-schedule">9:00-17:00</td>
						<td class="cell-schedule">9:00-17:00</td>
						<td class="cell-schedule">9:00-17:00</td>
						<td class="cell-schedule">9:00-17:00</td>
						<td class="cell-schedule"></td>
						<td class="cell-schedule"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>