<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div id="scheduler-wrapper" layout:fragment="content">
	<div id="scheduler-plan-menubar">
		<p>Select plan to show here!</p>
	</div>
	<div id="scheduler-plan">
		<div id="scheduler-org-structure">
			<div id="scheduler-org-structure-tree"></div>
		</div>
		<div id="scheduler-content">
			<div id="scheduler-content-menubar">
				<p id="scheduler-org-unit-details"></p>
				<p id="scheduler-plan-details"></p>
				<!-- <input id="scheduler-plan-change-button" class="scheduler-button" type="button" value="Change"/> -->
			</div>
			<div id="scheduler-editor">
				<table id="schedule-editor-table">
					<thead>
						<tr id="schedule-editor-thead-row-dates">
							<th rowspan="2">User</th>
						</tr>
						<tr id="schedule-editor-thead-row-weekdays">
						</tr>
					</thead>
					<tbody id="schedule-editor-tbody">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="scheduler-statistics">
	</div>
	<div id="schedule-edit-dialog" th:replace="fragments/dialogs :: schedule-edit-dialog"></div>
</div>
</html>