<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div id="scheduler-wrapper" layout:fragment="content">
	<div id="scheduler-plan-menubar">
		<label for="scheduler-plan-select">Plan </label>
		<select id="scheduler-plan-select">
			<option value="1">Feb 2018</option>
			<option value="2">Mar 2018</option>
			<option value="3">Dec 2017</option>
			<option value="4">Feb 2018 - alternative</option>
		</select>
		<input id="scheduler-new-plan-button" type="button" value="New plan"/>
	</div>
	<div id="scheduler-plan">
		<div id="scheduler-org-structure">
			<div id="scheduler-org-structure-tree"></div>
		</div>
		<div id="scheduler-content">
			<div id="scheduler-content-menubar">
				<p id="scheduler-org-unit-details"></p>
				<p id="scheduler-plan-details"></p>
				<!-- <input id="scheduler-plan-change-button" class="scheduler-button" type="button" value="Change"/> -->
			</div>
			<div id="scheduler-editor">
				<table id="schedule-editor-table">
					<thead>
						<tr id="schedule-editor-thead-row-dates">
							<th rowspan="2">User</th>
						</tr>
						<tr id="schedule-editor-thead-row-weekdays">
						</tr>
					</thead>
					<tbody id="schedule-editor-tbody">
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="scheduler-statistics">
	</div>
	<div id="schedule-edit-dialog" th:replace="fragments/dialogs :: schedule-edit-dialog"></div>
</div>
</html>