<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div layout:fragment="content">
	<h2>For testing purposes...</h2>
	<div>
		<input id="test-js-button" type="button" value="Test"/>
		<input id="get-tree-value-button" type="button" value="Tree value"/>
	</div>
	<div>
		<div>
			<div id="mytree"></div>
			<input id="myTreeVal" type="text"/>
		</div>
		<div>
			<div id="myothertree"></div>
			<input id="myOtherTreeVal" type="text"/>
		</div>
	</div>
	<div>
		<p id="schedule1" data-start="08:00" data-end="16:30">Some schedule</p>
		<p id="schedule2" data-start="06:00" data-end="14:15">Some schedule</p>
	</div>
	<div id="schedule-edit-dialog" title="Schedule Edit">
		<label for="start">Start:</label><input id="start" type="time"/>
		<label for="end">End:</label><input id="end" type="time"/>
	</div>
	<div>
		<input id="test-forecast" type="button" value="Forecast"/>
		<div>
			<canvas id="forecast-chart" width="300" height="200"></canvas>
		</div>
	</div>
</div>
</html>