<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<div id="userrecord-content" layout:fragment="content">
	<div id="search">
		<div id="searchShow">
			<p>Search here!</p>
		</div>
		<div th:replace="fragments/usersearch :: usersearchByName"></div>
	</div>
	<div id="userrecord-wrapper">
		<div th:replace="fragments/searchresults_user :: searchresults"></div>
		<div id="userrecord">
			<div id="userrecord-selected">
				<p id="userrecord-selected-text"></p>
			</div>
			<div th:replace="fragments/userpersonal :: userpersonal">Personal (replace)</div>
			<div th:replace="fragments/usercontract :: usercontract">Contract (replace)</div>
			<div th:replace="fragments/userassignment :: userassignment">Assignment (replace)</div>
			<div th:replace="fragments/usercredentials :: usercredentials">Credentials (replace)</div>
		</div>
	</div>
</div>
</html>